<meta charset="UTF-8"/>
<div id="col-left-inner" class="col-left-nano-content">
<div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
    <img alt="" src="img/samples/avatar.png"/>
    <div class="user-box">
<span class="name">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Gabi.</a>
</span>
<span class="status">
<i class="fa fa-circle"></i> Connecté
</span>
    </div>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
<ul class="nav nav-pills nav-stacked">
<li class="nav-header nav-header-first hidden-sm hidden-xs">
    Menu principal
</li>
<li class="active">
    <a href="">
        <i class="fa fa-dashboard"></i>
        <span>Tableau de bord</span>
        <span class="label label-primary label-circle pull-right">28</span>
    </a>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="fa fa-wrench"></i>
        <span>Paramètres</span>
        <i class="fa fa-angle-right drop-icon"></i>
    </a>
    <ul class="submenu">
        <li>
            <a href="tables.html">
                Enrégistrement
            </a>
        </li>
        <li>
            <a href="">
                Importation
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="fa fa-users"></i>
        <span>Clients</span>
        <i class="fa fa-angle-right drop-icon"></i>
    </a>
    <ul class="submenu">
        <li>
            <a href="tables.html">
                Enrégistrement
            </a>
        </li>
        <li>
            <a href="import" >
                Importation
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="fa fa-envelope"></i>
        <span>Reclamations</span>
        <i class="fa fa-angle-right drop-icon"></i>
    </a>
    <ul class="submenu">
        <li>
            <a href="reclamation">
                Nouveau
            </a>
        </li>
        <li>
            <a href="email-detail.html">
                Consulter
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="fa fa-bar-chart-o"></i>
        <span>Reporting</span>
        <i class="fa fa-angle-right drop-icon"></i>
    </a>
    <ul class="submenu">
        <li>
            <a href="graphs-morris.html">
                Etat globaux
            </a>
        </li>
        <li>
            <a href="graphs-flot.html">
                Statistiques
            </a>
        </li>
    </ul>
</li>
</ul>
</div>
</div>
<script src="js/demo-skin-changer.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.nanoscroller.min.js"></script>
<script src="js/demo.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="js/jquery-jvectormap-world-merc-en.js"></script>
<script src="js/gdp-data.js"></script>
<script src="js/flot/jquery.flot.min.js"></script>
<script src="js/flot/jquery.flot.resize.min.js"></script>
<script src="js/flot/jquery.flot.time.min.js"></script>
<script src="js/flot/jquery.flot.threshold.js"></script>
<script src="js/flot/jquery.flot.axislabels.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/skycons.js"></script>
<script src="js/scripts.js"></script>
<script src="js/pace.min.js"></script>

